$font-family-base: "Avenir Next LT Pro";

page-home {

    .scroll-content{
        padding-bottom: 0 !important;
    }

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
        text-align: center;
        width: 25%;
    }

    .grey{
        background-color : #efefef;
        border-radius : 8px;
        color : #303030;
        width : fit-content;
        margin-left:auto;
        margin-right:10px;
    }

    .purple{
        background-color : #8a25d3;
        border-radius : 8px;
        color : #ffffff;
        width : 75%;
        margin-left:10px;
        margin-right:auto;
    }

    .greytext{
        background-color : #efefef;
        color : #303030;
        float: left;
        font-family: "Avenir Next LT Pro" !important;
        font-size: 12px; 
        margin-top: -5 px;
        margin-bottom: -5 px;
    }

    .purpletext{
        background-color : #8a25d3;
        color : #ffffff;
        float: left;
        font-family: "Avenir Next LT Pro" !important;
        font-size: 12px; 
        margin-top: -5 px;
        margin-bottom: -5 px;
    }

    .greyclock{
        float : right !important;
        text-align: right !important;
        font-size : 5px;
        //font-weight:bold;
        color: #a2a2a2;
        margin-top: 0;
        margin-bottom: 0;
    }

    .purpleclock{
        float : right !important;
        text-align: right !important;
        font-size : 5px;
        //font-weight:bold;
        color: #efefef;
        margin-top: 0;
        margin-bottom: 0;
    }

    .inputText{
        //position:fixed;
        //bottom:10px;
        left : 5%;
        text-align: center;
    }

    .Enter{
        color:#8a25d3;
        font-size: 20pt;
        //position:fixed;
        //bottom:10px;
        right: 5%;
        text-align: right;
    }

    ///////////////////////////////////////////////////////////
    .flex-items{
        display:  flex;
        background-color: #fff;
    }

    .circularbutton{
        color: white;
        background-color: #603CD7;

        font-size: 40px;
        size: 40px;
        //width: fit-content;
        width: 40px;
        height: 40px;
        margin-top:-5px;
        margin-bottom:-5px;
        border-radius: 100px;
        margin-right:-10px;
    }

    .send{
        color: white;
        font-size: 20px;
    }

    .input_message{
        border: 1px solid #DCDCDC;
        border-radius: 40px; 
        margin-top:-5px;
        margin-bottom:-5px;
        margin-right:5px;
        margin-left:-5px;
        height:40px;
        padding-left:5px;
        padding-top:auto;
        padding-bottom:auto;
    }


    .abovefooter {
        position: bottom;
        min-height: 150px;
        padding: auto;
    }

    .abovefooter-content {
        position: bottom;
        bottom: 0;
        left: 0;
    }
    
    .footer{
        position: fixed;
        //bottom: 5%;
    }

    .options{
        display: inline-block !important;
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
        overflow: auto;
    }

    .optionbutton{
       
       // border: none;
        background-color:  #ffffff;
        color: #303030;
        border-color:    #fdfdfd;
        border: 0.5px;
        box-shadow: 0px 1.5px 5px #A5A5A5;
        margin-left: 5pt;
        margin-top: auto;
        margin-bottom: 5pt;
        font-size: 12px;
        height: 40px;
        width:fit-content;
        overflow: auto;
        float : right !important;
        border-width: 1.5px;
    }

    .rating{
        //padding: 1%;
        margin-left: auto;
        margin-right: auto; 
        display : inline-block;
        font-size: 35px;
    }

    .description{
        color: black !important;
        align-content: center;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bolder;
    }

    .descriptioncard{
        font-size : 12px;
        color: black !important;
        align-content: left;
        text-align: left;
        float : left;
        padding : 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .nextbutton{
        color : #8a25d3;
        font-size : 12px;
    }
    .ion-slides {
        height:200px;
    }
    .slider-slides{
        display: flex;
        flex-direction: row;
        height:auto;
    }

    .morelessbutton{
        background-color:  #ffffff;
        color: #303030;
        border-color:    #fdfdfd;
        border: 0px;
        font-size: 12px;
        width:fit-content;
        overflow: auto;
        float : right !important;
        border-width: 0px;
    }

    .slide-image{
        overflow: hidden;
    }

}