$font-family-base: "Avenir Next LT Pro";

page-home {

    .scroll-content {
    padding-bottom: 0 !important;
     }
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
        text-align: center;
        width: 25%;
    }

    .Righticon{
        float: right !important; 
        color: #d8dcdf !important; 
        position:fixed;
        top: 15%;
        right: 5%;
        text-align: right;
        font-size: 30px;
    }

    .Lefticon{
        float: left !important; 
        color: #d8dcdf !important; 
        position:fixed;
        top: 15%;
        left: 5%;
        text-align: left;
        font-size: 30px;
    }

    .grey{
        background-color : #efefef;
        border-radius : 8px;
        color : #303030;
        width : 75%;
        float : left;       
    }

    .purple{
        background-color : #8a25d3;
        border-radius : 8px;
        color : #ffffff;
        width : 75%;
        float : right;     
    }

    .greytext{
        background-color : #efefef;
        color : #303030;
        float: left;
        font-family: "Avenir Next LT Pro" !important;
        font-size: 12px; 
    }

    .purpletext{
        background-color : #8a25d3;
        color : #ffffff;
        float: left;
        font-family: "Avenir Next LT Pro" !important;
        font-size: 12px; 
    }

    .greyclock{
        float : right !important;
        text-align: right !important;
        font-size : 9px;
        font-weight:bold;
        color: #a2a2a2;
    }

    .purpleclock{
        float : right !important;
        text-align: right !important;
        font-size : 9px;
        font-weight:bold;
        color: #efefef;
    }

    .inputText{
        position:fixed;
        bottom:10px;
        left : 5%;
        text-align: center;
    }

    .Enter{
        color:#8a25d3;
        font-size: 20pt;
        position:fixed;
        bottom:10px;
        right: 5%;
        text-align: right;
    }

}