<ion-header no-border>
  <ion-navbar>
    <ion-title>
      <!--<ion-icon class = "Lefticon" ios="ios-information-circle" md="md-information-circle"></ion-icon>
      <ion-icon class ="Righticon" ios="ios-help-circle" md="md-help-circle"></ion-icon>-->
      <img class="logo" src="../assets/imgs/Purple-PNG.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-list>
    <div *ngIf="answer?.length > 0" no-lines>
      <ion-card *ngIf="Alis_first == false" text-wrap class="grey">
        <ion-item text-wrap class="greytext">{{chat}}</ion-item>
        <ion-label class="greyclock">{{CurrentTime}}</ion-label>
      </ion-card>

      <!-- <ion-card text-wrap class="purple">
        <ion-item-sliding *ngFor="let tutor of Tutors ;let i = index">
          <ion-item *ngIf="need_tutor == 0" text-wrap class="purpletext"> {{answer}}</ion-item>
          <ion-item *ngIf="need_tutor == 1" text-wrap class="purpletext"> {{tutor}} <img src="{{images[i]}}"></ion-item>
          <ion-item-options side="right">
            <button ion-button (click)="Reserve()">Reserve</button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-label class="purpleclock">{{CurrentTime}}</ion-label>
      </ion-card> -->
      <ion-card text-wrap class="purple">
        <ion-item text-wrap class="purpletext">{{answer}}</ion-item>

        <ion-list *ngIf="need_tutor == 1">
          <ion-item *ngFor="let Tutor of Tutors; let i = index">
            <ion-thumbnail item-start>
              <img src={{Tutor.image}}>
            </ion-thumbnail>
            <h2>{{Tutor.name}}</h2>
            <p>{{Tutor.phone}}</p>
            <ion-icon name="arrow-dropright" (click)="Tutor_Select(Tutor)" item-end></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="need_tutor == 2">
          <ion-item *ngFor="let lesson of Current_Tutor.lessons; let i = index">
            <h2>{{lesson.slot}}</h2>
            <p>{{lesson.cost}}</p>
            <ion-icon name="arrow-dropright" (click)="Tutor_Reserve(i)" item-end></ion-icon>
          </ion-item>
        </ion-list>

        <div *ngIf="tutor_Feedback == true">
          <ion-icon class="rating" [color]="rated==1 ||rated==2 ||rated==3 ||rated==4 ||rated==5? 'rate' : 'light'"
            name="star" (click)="rating(1)"></ion-icon>
          <ion-icon class="rating" [color]="rated==2 ||rated==3 ||rated==4 ||rated==5? 'rate' : 'light'" name="star"
            (click)="rating(2)"></ion-icon>
          <ion-icon class="rating" [color]="rated==3 ||rated==4 ||rated==5? 'rate' : 'light'" name="star" (click)="rating(3)"></ion-icon>
          <ion-icon class="rating" [color]="rated==4 ||rated==5? 'rate' : 'light'" name="star" (click)="rating(4)"></ion-icon>
          <ion-icon class="rating" [color]="rated==5? 'rate' : 'light'" name="star" (click)="rating(5)"></ion-icon>
        </div>

        <div *ngIf="date == true">
          <ion-item>
            <ion-datetime displayFormat="M/D/YYYY" min="2018" placeholder="M/D/YYYY" [(ngModel)]="Study_date"></ion-datetime>
          </ion-item>
          <button ion-button clear block (click)="question=Study_date;ask()">Choose Time</button>
        </div>

        <div *ngIf="time == true">
          <ion-item>
            <ion-datetime displayFormat="h:mm A" placeholder="h:mm A" [(ngModel)]="Study_time"></ion-datetime>
          </ion-item>
          <button ion-button clear block (click)="question=Study_time;ask()">Choose friends</button>
        </div>

        <ion-list *ngIf="Show_Friends == true">
          <ion-item *ngFor="let Friend of Friends">
            <ion-label>
              <h2>{{Friend.Name}}</h2>
              <p>{{Friend.Phone}}</p>
            </ion-label>
            <ion-checkbox *ngIf="Select_Friends == true" [(ngModel)]="Friend.checked"></ion-checkbox>
          </ion-item>
        </ion-list>
        <button ion-button *ngIf="Select_Friends == true" (click)="Invite()">Invite to study group</button>

        <ion-card *ngIf="need_universty == 1">
          <ion-slides class="slider-slide">
            <ion-slide class="slider-slide" *ngFor="let slide of universities">
              <ion-toolbar>
                <ion-buttons end>
                  <button ion-button class="nextbutton" color="primary" (click)="nextSlide()">Next</button>
                </ion-buttons>
              </ion-toolbar>
              <img src="{{slide.image}}" class="slide-image" />
              <h1 class="description" style="font-size: 15px;">{{slide.universtyName}}</h1>
              <h6 class="description" style="font-size : 12px;"><b>Location:</b>{{slide.location}}</h6>
              <p class="descriptioncard">{{slide.description}}</p>

              <!--
              <p *ngIf="slide.description.length <= limit" class = "descriptioncard">{{slide.description}}</p>

              <div *ngIf="truncating && slide.description.length > limit" text-wrap class = "descriptioncard">
                {{slide.description | slice:0:100}}
                <button ion-button class = "morelessbutton" small (click)="truncating = false">show more</button>
              </div>
              <div *ngIf="!truncating && slide.description.length > limit" text-wrap class = "descriptioncard">
                {{slide.description}}
                <br>
                <button ion-button class = "morelessbutton" small (click)="truncating = true">show less</button>
              </div>
-->
            </ion-slide>
          </ion-slides>
        </ion-card>

        <ion-list *ngIf="Show_Study == true">
          <ion-item *ngFor="let Study_Person of Study_People">
            <ion-label>
              <h2>{{Study_Person.Name}}</h2>
              <p>{{Study_Person.Status}}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-label class="purpleclock">{{CurrentTime}}</ion-label>
      </ion-card>
      <br>
    </div>
  </ion-list>
  <div style=" padding-top:1px; position: absolute; bottom: 5px;width: 100%">
    <div style="text-align: center" class="options">
      <div class="options" no-lines *ngFor="let option of options;" text-center>
        <button class="optionbutton" ion-button round outline (click)="question=option;ask()">{{option}}</button>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer style="background-color:#ffffff">
  <div style="background-color:#ffffff;margin-top:15px;text-align: center" class="options">
    <div class="options" no-lines *ngFor="let option of options;" text-center>
      <button class="optionbutton" ion-button round outline (click)="question=option;ask()">{{option}}</button>
    </div>
  </div>
  <div class="flex-items" padding>
    <ion-input [(ngModel)]="question" class="input_message" placeholder="Type a message..."></ion-input>
    <button class="circularbutton" ion-button icon-only (click)="ask()">
      <ion-icon name="send" class="send"></ion-icon>
    </button>
  </div>
</ion-footer>